*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #171025;
    color: #fcfbfd;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 12px 8%;
}
#hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    min-height: 320px;
    padding-top: 2rem;
    align-items: end;
    padding-bottom: 2rem;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 1rem 0;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
a{
    color: aquamarine !important;
}
h1{
    font-size: 42px;
}
footer{
    margin-top: 2rem !important;
}
@media screen and (max-width: 768px) {
    #hero{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }
}